{
margin: 0;
padding: 0;

}

header{
background-color: black;
display: flex;
color:white;
align-items: center;
justify-content: space-between;
padding: 10px;

}

html{
    background-color:#FCFFBA;


}

div{
background-color: black;
color: white;
font-size: xx-large;
border-width: 5px;
border-color: #F0F1DA;
}

footer{
background-color: black;
color: white;
align-items: center;
display: flex;
justify-content: space-between;
}