*{
margin: 0;
padding: 0;

}
html{
width: 1350px;

}
header{
background-color: black;
display: flex;
color:white;
align-items: center;
justify-content: space-between;
padding: 10px;

}

body{
    background-color:#394E21;
    
}

div{
color: white;
font-size: x-large;
}

footer{
background-color: black;
color: white;
align-items: center;
display: flex;
justify-content: space-between;
}

.ggggfg{
    width: 100%;
}


@media screen and (min-width: 1024px){
    .ggggfg{
        width: 50%;
    }
}

@media screen and (min-width: 1350px){
    /* pc */
    .ggggfg{
            width: 1350px;
    }
}